[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
pyarrow = "*"
folium = "*"
dask = "*"
zipfile-deflate64 = "*"
vaex="*"
geopandas = "*"
osmnx = "*"
shapefile = "*"
h3 = "*"


[dev-packages]

[requires]
python_version = "3.10"
