[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
pyarrow = "*"
folium = "*"
zipfile-deflate64 = "*"
vaex="*"
geopandas = "*"
osmnx = "*"
h3 = "*"
sklearn = "*"
scikit-learn = "*"
seaborn = "*"
plotly = "*"
contextily = "*"
keras = "==2.12.0rc1"
tensorflow = "*"
gym = "*"
keras-rl2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
